@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/*********************************************************/

body {
    background: #eee;
}

/*********************************************************/

.margin-t {
    margin-top: 50px;
}

/*********************************************************/

.main-container {
    background: #eee;
}

.container-white {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -10px;
}

/*********************************************************/

.search-label {
    font-weight: normal;
    padding-left: 20px !important;
}

.tag-list {
    display: inherit;
    text-align: center;
}

.tag-single {
    text-transform: lowercase !important;
}

.tag-single > .hashtag {
    opacity: 0.5;
    font-size: 18px;
}

/*********************************************************/