
/*********************************************************/

body {
    background: #eee;
}

/*********************************************************/

.main-container {
    background: #eee;
}

/*********************************************************/

.item-single {
    background: #fff !important;
    text-align: center !important;
}

.item-title {
    color: #333 !important;
}

/*********************************************************/
