<div ng-controller="LoginController" ng-cloak>
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h3>
                <span>{{ 'Login'|translate }}</span>
            </h3>
        </div>
    </md-toolbar>
    <md-content class="md-whiteframe-3dp autoScroll">
        <form name="form" ng-submit="login(form, user)">
            <md-input-container ng-class="{ 'md-input-invalid' : form.email.$invalid && !form.email.$pristine  && formSubmitted }">
                <label>{{ 'Email'|translate }}</label>
                <input type="email"
                       name="email"
                       ng-model="user.email"
                       ng-required="true">
            </md-input-container>
            <md-input-container ng-class="{ 'md-input-invalid' : form.password.$invalid && !form.password.$pristine  && formSubmitted }">
                <label>{{ 'Password'|translate }}</label>
                <input type="password"
                       name="password"
                       ng-model="user.password"
                       ng-required="true">
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary"><translate>Login</translate></md-button>
        </form>
    </md-content>

</div>
