<div ng-controller="LoginController" ng-cloak class="container margin-t col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ 'Login'|translate }}</h3>
        </div>
    </md-toolbar>

    <md-content class="md-whiteframe-4dp md-padding">
        <form name="form" ng-submit="login(form, user)">
            <md-input-container class="md-block" ng-class="{ 'md-input-invalid' : form.email.$invalid && !form.email.$pristine  && formSubmitted }">
                <label>{{ 'Email'|translate }}</label>
                <input type="email" name="email" ng-model="user.email" ng-required="true">
            </md-input-container>

            <md-input-container ng-class="{ 'md-input-invalid' : form.password.$invalid && !form.password.$pristine  && formSubmitted }">
                <label>{{ 'Password'|translate }}</label>
                <input type="password" name="password" ng-model="user.password" ng-required="true">
            </md-input-container>

            <div layout='row' layout-align="space-between end">

                <md-button class="md-fab md-primary" type="submit">
                    <md-tooltip>Login</md-tooltip>
                    <md-icon class='material-icons'>check</md-icon>
                </md-button>

                <div>
                    <md-button class="md-primary" ng-href="/account/register">Register</md-button>
                    <md-button class="md-primary" ng-href="/account/forgot">Forgot password</md-button>
                </div>
            </div>
        </form>
    </md-content>

</div>
