<div ng-controller="RegisterController" ng-cloak class="container">

    <div class="container-page col-md-6 col-md-offset-3">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{ 'Register and Join Tiwun'|translate }}</h3>
            </div>
        </md-toolbar>

        <md-content class="md-whiteframe-4dp md-padding">
            <form name="form" ng-submit="register(form, user)">

                <div class="well well-sm">
                    <small>
                        We'll send you a confirmation email, follow the link and you have your account.
                    </small>
                </div>

                <md-input-container class="md-block" ng-class="{ 'md-input-invalid' : form.email.$invalid && !form.email.$pristine  && formSubmitted }">
                    <label>{{ 'Email'|translate }}</label>
                    <input type="email" name="email" ng-model="user.email" ng-required="true">
                </md-input-container>

                <div layout='row' layout-align="space-between end">

                    <md-button class="md-fab md-primary" type="submit">
                        <md-tooltip>REGIISTER AND JOIN TIWUN :)</md-tooltip>
                        <md-icon class='material-icons'>person_add</md-icon>
                    </md-button>

                    <div>
                        <md-button ui-sref="app.login" class="md-primary">Go to Login</md-button>
                    </div>
                </div>
            </form>
        </md-content>

    </div>
</div>
