<div ng-controller="UserSettingsController" class="container" ng-clock>

    <div class="container-page container-eee col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">

        <!-- Heading -->
        <h4 class="faded">
            <md-icon class="mi">settings_applications</md-icon> Profile Settings
            <hr>
        </h4>

        <!-- Inputs -->
        <div class="settings">

            <!-- Form -->
            <form name="form" ng-submit="updateAccount(form, setting)">

                <!-- Username -->
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="setting.name" value="{{ setting.name }}">
                </md-input-container>

                <!-- Real name -->
                <md-input-container>
                    <label>Real Name</label>
                    <input ng-model="setting.real_name" value="{{ setting.real_name }}">
                </md-input-container>

                <!-- Website -->
                <md-input-container>
                    <label>Website</label>
                    <input ng-model="setting.website" value="{{ setting.website }}">
                </md-input-container>

                <!-- Location -->
                <md-input-container>
                    <label>Location</label>
                    <input ng-model="setting.location" value="{{ setting.location }}">
                </md-input-container>

                <!-- About -->
                <md-input-container>
                    <label>About</label>
                    <textarea ng-model="setting.about" rows="5">{{ setting.about }}</textarea>
                </md-input-container>

                <!-- Update button -->
                <md-button class="md-fab md-primary pull-right" title="Click to save changes.">
                    <md-icon class="mi">check</md-icon>
                </md-button>

            </form>

        </div>

    </div>

</div>
