<div ng-controller="UserProfileController" class="container" ng-clock>

    <div class="container-page container-eee col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">

        <form name="form" ng-submit="create(form, item)">

            <div class="list">
                <!-- Title (Errors) -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.title.$invalid && !form.title.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Title is required.</translate>
                    </li>

                    <li class="bg-tomato" ng-show="form.title.$error.minlength && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Title is too short.</translate>
                    </li>

                    <li class="bg-tomato" ng-show="form.title.$error.maxlength && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Title is too long.</translate>
                    </li>
                </ul>

                <!-- Title -->
                <md-input-container class="item item-input"
                       ng-class="{ 'md-input-invalid' : form.title.$invalid && !form.title.$pristine  && formSubmitted }">
                    <label>{{ 'Title'|translate }}</label>
                    <input type="text"
                           name="title"
                           ng-model="item.title"
                           required
                           ng-required="true"
                           ng-minlength="5"
                           ng-maxlength="155">
                </md-input-container>

                <!-- Descriptions Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.description.$invalid && !form.description.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Description is required.</translate>
                    </li>

                    <li class="bg-tomato" ng-show="form.description.$error.minlength && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Description is too short.</translate>
                    </li>
                </ul>

                <!-- Description -->
                <md-input-container class="item item-input"
                       ng-class="{ 'md-input-invalid' : form.description.$invalid && !form.description.$pristine && formSubmitted  }">
                    <label>{{ 'Description'|translate }}</label>
                            <textarea name="description"
                                      cols="30"
                                      rows="10"
                                      ng-model="item.description"
                                      ng-required="true"
                                      ng-minlength="15"
                                      required>
                            </textarea>
                </md-input-container>

                <hr>

                <!-- isFree checkbox -->
                <md-checkbox aria-label="Is it free?" ng-model="item.isFree" class="md-primary">
                    <translate>Is it Free?</translate>
                </md-checkbox>

                <hr>

                <!-- Money Currency Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.moneyCurrency.$invalid && !form.moneyCurrency.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>You need to specify the Money Currency.</translate>
                    </li>
                </ul>

                <!-- Minimum Price Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.minPrice.$invalid && !form.minPrice.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Minimum Price is required if item is not free.</translate>
                    </li>

                    <li class="bg-tomato" ng-show="form.minPrice.$error.min && !form.minPrice.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Minimum price at least should be 0 or higher but not less that 0.</translate>
                    </li>
                </ul>

                <!-- Maximum Price Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.maxPrice.$invalid && !form.maxPrice.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Maximum Price is required if item is not free.</translate>
                    </li>

                    <li class="bg-tomato" ng-show="form.maxPrice.$error.min && !form.maxPrice.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Maximum Price should be higher than equal or higher than Minimum Price.</translate>
                    </li>
                </ul>

                <!-- Discounted Price Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.discountedPrice.$error.max && !form.discountedPrice.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Discounted Price should not be higher than Maximum Price.</translate>
                    </li>
                </ul>

                <!-- Price -->
                <div layout layout-sm="column" ng-if="!item.isFree">
                    <md-input-container flex>
                        <label><translate>Money Currency</translate></label>
                        <md-select name="moneyCurrency" ng-model="item.moneyCurrency">
                            <md-option ng-repeat="k in moneyCurrencies" value="{{ k }}">
                                {{ k }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex ng-class="{ 'md-input-invalid' : form.minPrice.$invalid && !form.minPrice.$pristine && formSubmitted }">
                        <label><translate>Min Price</translate></label>
                        <input type="number"
                               name="minPrice"
                               ng-model="item.minPrice"
                               ng-min="0">

                    </md-input-container>
                    <md-input-container flex ng-class="{ 'md-input-invalid' : form.maxPrice.$invalid && !form.maxPrice.$pristine  && formSubmitted }">
                        <label><translate>Max Price</translate></label>
                        <input type="number"
                               name="maxPrice"
                               ng-model="item.maxPrice"
                               ng-min="item.minPrice">

                    </md-input-container>
                    <md-input-container flex
                        type="number"
                        name="discountedPrice"
                        ng-model="item.discountedPrice"
                        ng-max="item.maxPrice"
                        ng-required="false">

                        <label type="number"
                               name="discountedPrice" ng-model="item.discountedPrice" ng-max="item.maxPrice" ng-required="false"><translate>Discounted Price</translate></label>
                        <input ng-model="user.city">
                    </md-input-container>
                </div>

                <br>

                <!-- Tags Errors -->
                <ul class="list-unstyled">
                    <li class="bg-tomato" ng-show="form.tags.$invalid && !form.tags.$pristine && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Tags are required.</translate>
                    </li>
                    <li class="bg-tomato"ng-show="form.tags.$error.minlength && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Tags are too short.</translate>
                    </li>
                    <li class="bg-tomato" ng-show="form.tags.$error.maxlength && formSubmitted">
                        <md-icon class="mi">error_outline</md-icon> <translate>Tags are too long.</translate>
                    </li>
                </ul>

                <!-- Tags -->
                <md-input-container class="md-icon-float md-block" ng-class="{ 'md-input-invalid' : form.tags.$invalid && !form.tags.$pristine && formSubmitted }">
                    <label><translate>Tags (Separated by space)</translate></label>
                    <md-icon class="mi">label_outline</md-icon>
                    <input type="text"
                           name="tags"
                           ng-model="item.tags"
                           ng-required="true"
                           ng-minlength="3"
                           ng-maxlength="50"
                           required>
                </md-input-container>

                <hr>

                <!-- Buttons -->
                <md-button class="md-raised md-primary button-fat" type="submit">
                    <md-icon class="mi">check_circle</md-icon>
                    <translate>Submit Post</translate>
                </md-button>
            </div>
        </form>
    </div>
</div>
