<div class="container container-page container-eee">
    <div class="item" ng-show="itemLoaded">
        <div class="row item-heading">
            <div class="col-xs-12">
                <h5>{{ item.title }}</h5>
                <div class="item-prices pull-right" ng-if="item.has_price">
                    <em><s>was {{ item.get_compare_at_price_display }}</s></em>
                    <b>{{ item.get_min_price_display }}</b>
                </div>
            </div>
            <div class="col-xs-12">
                <md-button ui-sref="app.userProfile({userId: item.user_id, userSlug: item.user_name})" class="md-flat md-mini md-warn">
                <md-icon class='mi'>account_box</md-icon> {{ item.user_name }}
                </md-button>
                <ul class="item-details pull-right list-unstyled">
                    <li title="Views">
                        <i class='mi'>remove_red_eye</i>
                        <span>{{ item.views_count }}</span>
                    </li>
                    <li title="Likes">
                        <i class='mi'>thumb_up</i>
                        <span>{{ item.voting_score }}</span>
                    </li>
                    <li title="Date">
                        <i class='mi'>hourglass_empty</i>
                        <span>{{ item.updated | date }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row item-body">
            <div class="col-md-7 image-container">
                <div class="image-preview" ng-if="item.has_images">
                    <img ng-src='{{ mainImageUrl }}'>
                </div>
                <div class="image-list" ng-if="item.has_images">
                    <div class="image" ng-repeat="image in item.images">
                        <img ng-src="{{ image.tiny }}" ng-click="SetImagePreview( image.standard )">
                    </div>
                </div>
                <div class="description panel panel-default">
                    <div class="panel-heading">
                        <md-icon class="mi">info</md-icon> Description
                    </div>
                    <div class="panel-body" ng-bind-html="item.description"></div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <md-icon class="mi">label_outline</md-icon> Tags
                    </div>
                    <div class="panel-body">
                        <div class="tag-list" layout='row' layout-align="space-around center">
                            <div class="tag-list" layout='row' layout-align="space-around center">
                                <tagool tag="tag" ng-repeat='tag in item.tags'></tagool>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <md-icon class="mi">question_answer</md-icon> Comments
                        <span class="label label-danger pull-right">{{ item.comments_count }}</span>
                    </div>
                    <div class="panel-body">
                        <form name="form" ng-submit="addComment(form, comment)">
                            <md-input-container class="md-block" style="margin: -10px 0;">
                            <label>Enter comment...</label>
                            <input type="text"
                            name="comment"
                            ng-model="comment.text"
                            ng-change="checkAuth()"
                            ng-required="true"
                            required>
                            </md-input-container>
                        </form>
                        <ul class="comment-list list-group">
                            <li class="comment list-group-item" ng-repeat="comment in item.comments">
                                <a ui-sref="app.userProfile({'userId': '{{ comment.user.id }}', 'userSlug': '{{ comment.user.slug }}'})" ng-show="!comment.user.url">
                                    <small>{{ comment.user.name }}: </small>
                                </a>
                                <a href="{{ comment.user.url }}" ng-show="comment.user.url">
                                    <small>{{ comment.user.name }}: </small>
                                </a>
                                {{ comment.comment }}
                                <em class="pull-right"><small>{{ comment.get_created_since }} ago</small></em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!itemLoaded">
        <div class="alert alert-danger text-center col-md-8 col-md-offset-2">
            <h3><b>Oh...</b> Item doesn't exist or it has been deleted.</h3>
        </div>
    </div>
</div>
