<div class="container container-page container-eee" ng-show="dataLoaded">

    <!-- Heading title -->
    <h3 class="faded">
        Posts tagged with
        <b><md-icon class="mi">label</md-icon> {{ tagName }}</b>
        <hr>
    </h3>

    <!-- Tag items list -->
    <div class="items margin-t">
        <item class="item-single col-lg-2 col-md-3 col-sm-4 col-xs-6" item="item" ng-repeat="item in tagItems"></item>
    </div>

    <!-- Load section -->
    <div>
        <md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>
        <md-button class="md-raised md-primary col-xs-12" ng-click="loadMore()" ng-if="!loading">LOAD MORE</md-button>
    </div>
</div>

<div class="container" ng-show="!dataLoaded">
    <div class="alert alert-warning">
        <h3><b>Oh...</b> No item found for <em>#{{ tagName }}</em>!</h3>
    </div>
</div>
