<div ng-controller="IndexController" class="explore" ng-clock>
    
    <md-content class="container container-white autoScroll">
        
        <form action="/search/" method="get">

            <md-input-container class="md-icon-float md-block">
                
                <label class="search-label search-main">Search</label>
                <md-icon class="material-icons">search</md-icon>
                <input type="text" class="search-input search-main">
            
            </md-input-container>

        </form> 

        <md-subheader class="margin-t">Popular tags</md-subheader>

        <hr>

        <div class="tag-list" layout='row' layout-align="space-around center">
            
            <a href="#">
                <md-button class="md-raised tag-single" ng-repeat='tag in [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]'>
                    <md-icon class='hashtag'>#</md-icon> tag
                </md-button>
            </a>

        </div>

    </md-content>

</div>