<!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="sidenavToggle('sidenavLeft')">
            <md-icon class="mi">menu</md-icon>
        </md-button>

        <a ui-sref="app.explore"><h2>Tiwun</h2></a>

        <span flex></span>

        <md-button class="md-icon-button">
            <a ui-sref='app.explore'><md-icon class="mi">search</md-icon></a>
        </md-button>
<!--
        <md-input-container class="md-block navbar-search" ng-show="navSearch">
          <label>Search...</label>
          <input>
        </md-input-container>
 -->
        <md-button class="md-icon-button" ui-sref='app.newItem'>
            <md-icon class="mi">add_circle</md-icon>
        </md-button>

        <md-button class="md-icon-button" ui-sref="app.tagList">
            <md-icon class="mi">label</md-icon>
        </md-button>

        <md-button ui-sref="app.login" ng-show="{{ !auth.isAuthenticated() }}">
            <md-icon class="mi">account_circle</md-icon>  Join Tiwun <md-icon class="mi">chevron_right</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenavLeft">

    <md-toolbar class="md-theme-light">

        <h1 class="md-toolbar-tools user-panel">

            <img ng-show="{{ auth.isAuthenticated() }}" class="image img-circle" ng-src="{{ user.get_gravatar[64] }}">

            <div ng-show="{{ auth.isAuthenticated() }}" class="info" layout="column">
                <a ui-sref="app.userProfile({'userId': '{{ user.id }}', 'userSlug': '{{ user.slug }}'})"
                   ng-click="sidenavToggle('sidenavLeft')"
                   class="username">{{ user.get_short_name }}</a>
                <span class="reputation badge md-whiteframe-1dp" title="Reputation">{{ user.reputation }}</span>
            </div>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="sidenavToggle('sidenavLeft')">
                <md-icon class="mi">reply</md-icon>
            </md-button>

        </h1>

    </md-toolbar>

    <md-content ng-click="sidenavToggle('sidenavLeft')">

        <div class="list-group sidenav-list">

            <span ng-show="{{ auth.isAuthenticated() }}">

                <div class="sidenav-item caption">Account</div>

                <a ui-sref="app.userProfile({'userId': '{{ user.id }}', 'userSlug': '{{ user.slug }}'})" class="list-group-item sidenav-item" md-ink-ripple>
                    <md-icon class="mi">account_box</md-icon>
                    Profile
                </a>

                <a ui-sref="app.userSettings({'userId': '{{ user.id }}'})" class="list-group-item sidenav-item" md-ink-ripple>
                    <md-icon class="mi">settings_applications</md-icon>
                    Settings
                </a>

                <a ng-href="#" class="list-group-item sidenav-item" md-ink-ripple ng-click="auth.logout()">
                    <md-icon class="mi">lock</md-icon>
                    Logout
                </a>

            </span>

            <div class="sidenav-item caption">Explore</div>

            <a ui-sref="app.explore" class="list-group-item sidenav-item" md-ink-ripple>
                <md-icon class="mi">search</md-icon>
                Explore
            </a>

            <a ui-sref='app.newItem' class="list-group-item sidenav-item" md-ink-ripple>
                <md-icon class="mi">add_circle_outline</md-icon>
                Create Ad
            </a>

            <a ui-sref="app.tagList" class="list-group-item sidenav-item" md-ink-ripple>
                <md-icon class="mi">label_outline</md-icon>
                Popular Tags
            </a>

        </div>

    </md-content>

</md-sidenav>

<div ui-view="content" layout-padding class="main-container" id="content" flex></div>

<footer>
    <div layout="row" layout-align="center center">
        <div class="footer container">
            <div class="row">
                <div class="col-md-8">
                    <a ui-sref="app.about" class="btn btn-default btn-xs md-primary">About</a>
                    <a ui-sref="app.terms-of-service" class="btn btn-default btn-xs md-primary">Terms of Service</a>
                    <a ui-sref="app.privacy_policy" class="btn btn-default btn-xs md-primary">Privacy Policy</a>
                    <a ui-sref="app.faq" class="btn btn-default btn-xs md-primary">FAQ</a>
                    <a ui-sref="app.editing-guide" class="btn btn-default btn-xs md-primary">Editing Guide</a>
                    <a ui-sref="app.newItem" class="btn btn-default btn-xs md-primary">Post an Item</a>
                </div>

                <div class="col-md-4 text-right text-center">
                    <small>
                        <p>Made by <span style="color: #ff0000;"><strong>love</strong></span> and brought to you by Tiwun,
                            <br> a Savand Bros brand <span style="color: #ff0000;"><strong>&lt;3</strong> </span>
                            <br>Copyright © 2015-2016 Savand Bros. Tiwun.com,
                            <br> All Rights Reserved.</p>
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
